* {
    box-sizing: border-box;
    horiz-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Avenir, Geneva, sans-serif;
    background-color: #f1f1f1;
}

header {
    font-size: 1.85em;
    horiz-align: center;
    width: 100%;
    position: fixed;
    transform: translateZ(0);
    box-shadow: 0 0 .6em 0 #333333;
    z-index: 1;
}

article {
    padding: 10em 1em 0 1em;
    width: 100%;
    background-color: #f1f1f1;
    max-width: 600px;
    margin: auto;
    position: relative;
}

div {
    padding: 1em 0 1em 0
}


img {
    padding: 0 1em 0 1em;
    max-width: 100%;
    max-height: 100%;
}

h2 {
    margin-bottom: -.9em;
}

hr {
    margin: 5em 0 4em 0;
}

li {
    padding-right: 1em;
}

p {
    padding: 0 1em 0 1em;
}

/* Fix Overlap ------------------------------ */
.anchor:target {
    padding-top: 11em;
    margin-top: -11em;
}

/* Title Style ------------------------------ */
#titles_background{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #333333;
}

#titles_content {
    padding: 0;
    margin: auto;
    color: white;
    max-width: 600px;
    horiz-align: center;
}

#logo {
    padding: 0 .1em 0 .25em;
    margin: 0 0 -.1em 0;
    height: .9em;
}

#title {
    margin: 0;
    padding: .1em 0 0 0;
    line-height: 0;
}

#subtitle {
    padding: .25em .25em .25em .9em;
    margin: 0;
    font-size: .61em;
    font-weight: normal;
    font-style: italic;
}

#nav_background {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #ccc;
}

/* Nav Bar Style ------------------------------ */
nav {
    max-width: 600px;
    margin: auto;
    overflow: auto;
    horiz-align: center;
    padding: 0 .25em 0 .25em;
}

nav a {
    float: left;
    color: black;
    text-align: center;
    padding: .45em;
    text-decoration: none;
    font-size: .55em;
}

nav a:hover {
    background-color: #ddd;
}

nav li {
    display: inline;
}

/* Carousel Style ------------------------------ */
.img-nav {
    margin: -1em 0 -2.5em 0;
    text-align: center;
}

.nav-arrow {
    margin: 0;
    padding: .5em 1em 1em 1em;
    max-width: 4em;
    max-height: 4em;
}

.nav-arrow:hover {
    opacity: 75%;
}

.nav-dot {
    padding: 0 1em 1.5em 1em;
    max-width: 3em;
    max-height: 3em;
}

/* Footer Style ------------------------------ */
footer {
    background-color: #333333;
    text-align: center;
    color: white;
    padding: .25em;
    width: 100%;
}

footer a:visited {
    color: white;
}

footer a:link {
    color: white;
}
